[submodule "extensions/company-mode"]
	path = extensions/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "extensions/company-posframe"]
	path = extensions/company-posframe
	url = git@github.com:tumashu/company-posframe
[submodule "extensions/all-the-icons"]
	path = extensions/all-the-icons
	url = git@github.com:domtronn/all-the-icons.el
[submodule "extensions/go-mode"]
	path = extensions/go-mode
	url = git@github.com:dominikh/go-mode.el
[submodule "extensions/company-english-helper"]
	path = extensions/company-english-helper
	url = git@github.com:manateelazycat/company-english-helper.git
[submodule "extensions/insert-translated-name"]
	path = extensions/insert-translated-name
	url = git@github.com:manateelazycat/insert-translated-name
[submodule "extensions/hydra-posframe"]
	path = extensions/hydra-posframe
	url = git@github.com:Ladicle/hydra-posframe.git
[submodule "extensions/eglot-java"]
	path = extensions/eglot-java
	url = git@github.com:yveszoundi/eglot-java
[submodule "extensions/copilot"]
	path = extensions/copilot
	url = git@github.com:zerolfx/copilot.el.git
[submodule "extensions/move-text"]
	path = extensions/move-text
	url = git@github.com:manateelazycat/move-text.git
[submodule "extensions/rjsx-mode"]
	path = extensions/rjsx-mode
	url = git@github.com:felipeochoa/rjsx-mode.git
[submodule "extensions/typescript"]
	path = extensions/typescript
	url = git@github.com:ananthakumaran/typescript.el.git
[submodule "extensions/dash"]
	path = extensions/dash
	url = git@github.com:magnars/dash.el.git
[submodule "extensions/emacs-rime"]
	path = extensions/emacs-rime
	url = git@github.com:DogLooksGood/emacs-rime.git
[submodule "extensions/json-mode"]
	path = extensions/json-mode
	url = git@github.com:joshwnj/json-mode
[submodule "extensions/json-reformat"]
	path = extensions/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "extensions/posframe"]
	path = extensions/posframe
	url = git@github.com:tumashu/posframe.git
[submodule "extensions/smex"]
	path = extensions/smex
	url = git@github.com:nonsequitur/smex
[submodule "extensions/yasnippet"]
	path = extensions/yasnippet
	url = git@github.com:joaotavora/yasnippet
[submodule "extensions/awesome-pair"]
	path = extensions/awesome-pair
	url = git@github.com:manateelazycat/awesome-pair
[submodule "extensions/cal-china-x"]
	path = extensions/cal-china-x
	url = git@github.com:xwl/cal-china-x
[submodule "extensions/vundo"]
	path = extensions/vundo
	url = git@github.com:casouri/vundo
[submodule "extensions/consult-eglot"]
	path = extensions/consult-eglot
	url = git@github.com:mohkale/consult-eglot
